@charset "UTF-8";

:root{
    --fonte01:Arial, Helvetica, sans-serif;
    --fonte02: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;

    --cor01: #aa00f8ce;
    --cor02: #009708;
    --cor03: #009708:
}

*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;

    background-color: black;

    //**background: url(../image/bg\ code.jpg);
    background-position: center center;
    background-size: cover;**/
}

/*Header cofiguration*/

header{
    background-color: black;
    border-bottom: 2px solid white;
    margin: auto;
    width: 90%;

    text-align: center;
}

header > h2{
    color: white;
    padding: 10px;

   font-weight: bolder;
}

/*Perfil cofiguration*/

nav{
    background-color: white;
    
    border-radius: 5px;
    border: 2px solid white;
    width: 90%;
    height: 50%;
    

    text-align: center;

    margin: 10px auto;
    padding: 10px;
}

nav >img{

    border-radius: 5px;
    width: 40%;
}

nav > h1{
    font-size: 1.8em;
    padding: 5px;
}

nav > h1 > a{
    color: black;
    text-decoration: none;
}


nav > h2{
    font-size: 1.5em;
    padding: 5px;
}

nav > p{
    font-size: 1.5em;
    font-weight: bolder;

}
/*Article cofiguration*/





/*Links cofiguration*/




/*Credits cofiguration*/



/*Body cofiguration*/

/*Footer configuration*/
