@charset "UTF-8";

:root{
    --fonte01:Arial, Helvetica, sans-serif;
    --fonte02: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;

    --cor01: #aa00f8ce;
    --cor02: #009708;
    --cor03: #009708:
}

*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;

    background: url(../image/bg\ code.jpg);
    background-position: center center;
    background-size: cover;
}

/*Header cofiguration*/



/*Perfil cofiguration*/



/*Article cofiguration*/





/*Links cofiguration*/




/*Credits cofiguration*/



/*Body cofiguration*/

