@charset "UTF-8";


@media (min-width:500px){
    header{
        max-width: 70vw;
    }

    nav{
        max-width:70vw;
    }

    nav > img{
        max-width: 25vw;
    }

    main{
        max-width: 60vw;
    }

    aside > a > img{
        max-width: 9vw;
    }

    footer{
        max-width: 70vw;
    }
}

@media (min-width:768px){
    header{
        max-width: 50vw;
    }

    nav{
        max-width: 50vw;
    }

    nav > img{
        max-width: 20vw;
    }

    main{
        max-width: 50vw;
    }

    aside > a > img{
        max-width: 5vw;
    }

    footer{
        max-width: 50vw;
    }
}

@media (min-width:1024px){
    header{
        max-width: 40vw;
    }

    nav{
        max-width: 40vw;
    }

    nav > img{
        max-width: 18vw;
    }

    main{
        max-width: 40vw;
    }

    aside > a > img{
        max-width: 4vw;
    }

    footer{
        max-width: 40vw;
    }
}