@charset "UTF-8";


@media (min-width:500px){
    header{
        width: 70vw;
    }

    nav{
        width:70vw;
    }

    nav > img{
        width: 15vw;
    }

    main{
        width: 70vw;
    }

    aside > a > img{
        width: 9vw;
    }

    footer{
        width: 70vw;
    }
}

@media (min-width:768px){
    header{
        width: 50vw;
    }

    nav{
        width: 50vw;
    }

    nav > img{
        width: 18vw;
    }

    main{
        width: 50vw;
    }

    aside > a > img{
        width: 5vw;
    }

    footer{
        width: 50vw;
    }
}

@media (min-width:1024px){
    header{
        width: 40vw;
    }

    nav{
        width: 40vw;
    }

    nav > img{
        width: 18vw;
    }

    main{
        width: 40vw;
    }

    aside > a > img{
        width: 4vw;
    }

    footer{
        width: 40vw;
    }
}